html body {
    padding: 50px;
    background-color: #0D7E83;
}
  
a {
    color: #00B7FF;
}
  
div[class^="col-"] {
    padding: 4px 8px;
    background-color: #13293D;
    color: #EEF0F2;
    font-weight: bold;
    line-height: 34px;
    margin-bottom: 2px;
    height: 43px;
}
div.row > div[class^="col-"]:nth-child(odd) {
    border-right: 1px solid white;
}
div.row > div[class^="col-"]:nth-child(even) {
    border-left: 1px solid white;
}